{% extends 'home.html' %}


{% block content %}
<center>
    <div class="alert alert-dark" role="alert">
       <h3> Hello {{user | title}}, here are your friends contact information!</h3>
    </div>
    <br>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Phone number</th>
                
            </tr>
        </thead>
        <tbody>
            {% for row in dictionary.contact%}
            <tr>
                <th scope="row">{{loop.index }}</th>
                <td>{{row.name}}</td>
                <td>{{row.phone_number}}</td>
               
            </tr>
            {% endfor %}
        </tbody>

        <tbody>


    </table>
    <br>
    <a href="{{url_for('add')}}" class="btn btn-secondary" target="_blank" type="button"
        role="button">Add-Contact</a>
        
        <a href="{{url_for('edit')}}" class="btn btn-secondary" target="_blank" type="button"
        role="button">Edit-Contact</a>
        
        <a href="{{url_for('delete')}}" class="btn btn-secondary" target="_blank" type="button"
        role="button">Delete-Contact</a>

</center>
{% endblock %}