{% extends 'home.html' %}
{% block title %}Delete{% endblock %}

{% block content %}


<center>
    <div class="alert alert-dark" role="alert">
        <h3> Hello {{user | title}},here are your friends contact information!</h3>
    </div>

    <form method="POST" class="form-group" action="/delete">

    <br>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Phone number</th>

            </tr>
        </thead>
        <tbody>
            {% for row in dictionary.contact%}
            <tr>
                <th scope="row">{{loop.index }}</th>
                <td>{{row.name}}</td>
                <td>{{row.phone_number}}</td>

            </tr>
            {% endfor %}
        </tbody>

        <tbody>
    </table>
    <br>

    <input type="number" id="quote" name="contactnumber" placeholder="Enter index to delete " required=""style="width:13%"> 
    <br> <br>
    <button type="submit" class="btn btn-secondary">Delete</button> |  <a href="{{url_for('contact_book')}}" class="btn btn-secondary"  type="button"
    role="button">Back</a>

 </form>

</center>

{% endblock %}